.our-story h2{
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2;
    text-align: center;
    padding: 4rem 0;
}
  
.part-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
    margin-top: 3rem;
}
  
.story-writing {
    width: 45rem;
}
  
.story-writing h3 {
    font-size: 3rem;
    font-weight: 400;
    list-style: 2;
}
  
.story-writing p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}
  
.part-1 .story-writing {
    padding-right: 3rem;
  
}
  
.vision-op {
    width: 30rem;
    height: 35rem;
    box-shadow: 0 6px 12px rgba(85, 85, 85, 0.5);
    border-radius: .5rem;
    cursor: pointer;
}
  
.vision-op img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    position: relative;
    top: -1rem;
    left: 1rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .4s;
}
  
  .vision-op img:hover {
    transform: scale(1.04);
  }
  
  .part-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
  }
  
  .part-2 p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  
  .part-2 .story-writing {
    padding-left: 3rem;
  }
  
  .story-writing blockquote {
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .story-writing .blockquote p {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1.2rem;
  }
  
  @media only screen and (maxwidth: 1080px) {
    .part-1 {
      flex: wrap;
    }
  
    .part-1 h3 {
      font-size: 2.6rem;
    }
  
    .part-1 p {
      font-size: 1.3rem
    }
  
    .part-1 .vision-op {
      margin: 6rem 2rem;
    }
  
    .part-2 {
      flex: wrap;
    }
  
    .part-2 h3 {
      font-size: 2.6rem;
    }
  
    .part-2 p {
      font-size: 1.3rem
    }
  
    .part-2 .vision-op {
      margin: 4rem 4rem;
    }
  
    .part-2 .blockquote p {
      font-size: 1rem;
    }
  }
  
  @media only screen and (max-width: 767px) {
  
    .part-1 .story-writing h3 {
      font-size: 2.4rem;
    }
  
    .part-1 .story-writing p {
      font-size: 1rem;
    }
  
    .part-2 .story-writing h3 {
      font-size: 2.4rem;
    }
  
    .part-2 .story-writing p {
      font-size: 1rem;
    }
  }
  
  /* Company Overview Section */
  .company-overview {
    background-image: linear-gradient(rgba(98, 102, 115, 0.7),rgba(16, 26, 68, 0.7)), url(../assets/company.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    height: 90vh;
  }
    
  .company-overview h2 {
    font-size: 24px;
    color: #333; /* Dark gray text color */
    margin-bottom: 20px;
  }
    
  .company-overview p {
    font-size: 16px;
    color: #666; /* Gray text color */
    line-height: 1.6;
  }
  
  .main__img--container {
    text-align: center;
  }
    
  #main__img {
    height: 100%;
    width: 80%;
    border-radius: 10px;
  }
  
  .vert-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid #000000;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    height: 60vh;
  }
  
  .sample-section {
    margin-top: 2rem;
  }
  
  .sample-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url(../assets/About.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .sample-header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: MidnightBlue;
    opacity: 0.3;
  }
  
  .sample-header-section {
    position: relative;
    padding: 15% 0 10%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    color: #ffc653;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.492);
    font-family: "Montserrat", sans-serif;
  }